*{
    margin:0;
    padding:0;
    border:0;
    /*outline: 1px dotted red;*/
}

body, #cont_head button{
    background-color:#245076 ;
}

.caja_inline, #cont_head p, #barra li, #footer li{
    display: inline-block;
}

#logo img{
    width: 50%;
}

#cont_head{
    vertical-align: top;
    padding-left: 35%;
}

#cont_head form{
    background-color: #444444;
    padding:15px;
    border-radius: 10%;
}

#cont_head input, #cont_head button{
    padding:5px;
    border-radius: 10%;
    text-align: center;
}

#cont_head p:first-child, #cont_head button, #barra li, #cont li, #cont p{
    color:white;
}

#cont_head p:last-child, #cont span{
    color: #dabd3f;
    margin-left: 10px;
}

#barra li{
    margin: 10px 30px;
    text-align: center;
    font-size: 30px;
}

#barra li:first-child, #barra_li:last-child{
    margin-left: 150px;
}

#barra{
    background-color:#3a78ad;
    margin:25px;
    border-radius: 5%;
}

#alineado{
    width:70%;
    vertical-align: top;
    margin-left: 50px;
}

#alineado p, #alineado span{
    padding:15px;
}

span{
    white-space: pre-line;
    font-family: cursive;
    font-style: oblique;
    text-align: center;
    line-height: 2;
}

#cont li{
    margin-left: 70px;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
}

#alineado div:last-child{
    margin-left: 30%;
}

#cont2 div{
    width:40%;
    margin-left: 60px;
    text-align: center;
}

#cont2 div:first-child{
    vertical-align: top;
}

#cont2{
    background-color: white;
}

#cont2 li{
    color: #3a78ad;
    list-style-type: square;
}

#cont2 > div{
    border-top: #3a78ad 5px solid;
    margin-top: 10px;
}

#footer li{
    padding:40px;
    text-align: center;
    margin-left: 150px;
    color: #3a78ad;
}

#footer p{
    text-align: center;
    color: #3a78ad;
}









